body {
    font-family:  Helvetica;
}

.CONTAIN{
    height: 420px;
    width: 1100px;
    border: 1px solid grey;
    margin-left: 120px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 20px 20px 20px 20px;
    
}
.ROW {
    display: flex;
    height: 70px;
    
    
}

.first {
    background-color: grey;
    color: #ffffff;
    text-align: right;
    width: 1100px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 20px 20px 0px 0px;
}

.BUTTONS {
    height: 70px;
    width: 275px;
    border: 1px solid grey;
    background-color: rgb(197, 196, 196);
    text-align: center;
    border-left: 0px;

}
.ZERO {
    height: 70px;
    width: 552px;
    border: 1px solid grey;
    background-color: rgb(197, 196, 196);
    text-align: center;
    border-left: 0px;
    border-radius: 0px 0px 0px 20px;
}

.orange {
    background-color: rgb(250, 164, 66);
    color: #ffffff;
    text-align: center;
    border-right: 0px;
}

.Radius {
    border-radius:0px 0px 20px 0px;
}